numpy>=1.23
pandas>=1.5
gymnasium>=0.28
stable-baselines3>=2.0.0
torch>=2.0.0
tqdm>=4.64
stable-baselines3[extra]
sb3-contrib
statsmodels
pyts
pykalman
astropy
pyinform
tigramite
yfinance
pytrends
fredapi
pandas_datareader
ta
dotenv
tiingo
ccxt
lightgbm
statistics
rapidfuzz
pymorphy2